# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

##### **Objectives**

* List Popular languages for Data Science
* List commonly used libraries for Data Science
* Explore data science tools

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R
4. Java

##### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. TensorFlow

##### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|:--------:|
|  Apache Spark  |
|  TensorFlow   |
|  Jupyter Notebook   |

##### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

##### Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
#  This will convert 200 minutes to hours by diving by 60

days = 0
hours = 0
mins = 0

time = 200
leftover_minutes = time % 1440
hours = leftover_minutes / 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

##### Exercise 11 - Create a markdown cell to indicate the Author's name

 ## Author

In [ ]:
Alex P.